body{
    background-color: midnightblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background-color: rgb(124, 37, 124);
    border: 3px solid whitesmoke;
    border-radius: 13px;
    padding: 20px;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}

h3{
    border-left: 20px groove white;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom: 2px solid;
    width: 150px;
    background-color: rgb(124, 37, 124);
}
p{
    line-height: 2em;
    padding: 20px;
    border: 2px solid rgb(124, 37, 124);
}

img{
    width: 300px;
    border: 3px solid white;
    float: left;
    margin-right: 20px;
}

/* Pseudo Selectors */

a:link{
    color: red;
}
a:visited{
    color: pink;
}
a:hover{
    color: lightgreen;
}

/* ID RULES*/
#pic2{
    width: 200px;
    float: right;
}

/* Class Rule */
.highlight{
    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-weight: bold;
}